.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
  width: 80%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 10px;
  text-align: left;
}

.about-us-link {
  margin-right: 15px; /* Space between links */
  text-decoration: none;
  color: black;
  padding: 5px 10px; /* Add padding to anchor tag */
}

.about-us-link:hover {
  background-color: #f0f0f0; /* Background color on hover */
  border-radius: 4px; /* Optional rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition */
}